<table data-bind="with: bookDetails()">
    <tr>
        <td>Title:</td>
        <td><label data-bind="text:title "></label></td>
    </tr>
    <tr>
        <td>ISBNCode:</td>
        <td><label data-bind="text:isbnCode "></label></td>
    </tr>
    <tr>
        <td>Author:</td>
        <td><label data-bind="text:author "></label></td>
    </tr>

    <tr>
        <td>StockStatus:</td>
        <td><label data-bind="text:$parent.stockstatus "></label></td>
    </tr>
</table>

<table data-bind="with:bookIssueDetails(), visible:bookIssueDetails()">
    <tr>
        <td>Friend's Name:</td>
        <td><input type="text" data-bind="value:issuedTo,enable:false "></td>
    </tr>
    <tr>
        <td>Comments:</td>
        <td><textarea id="txtMessage" data-bind="value:comments,enable:false "></textarea></td>
    </tr>
    <tr>
        <td>IssueDate:</td>
        <td><label data-bind="text:issueDate "></label></td>
    </tr>
</table>
<table data-bind="with: bookDetails()">
    <tr>


        <td><input type="button" value="Deposit" id="btnReceipt" data-bind="visible:$parent.isBookIssued"></td>
        <td><input type="button" value="Issue" id="btnIssue" data-bind="visible:!$parent.isBookIssued()"></td>
        <td><input type="button" value="Back" id="btnClose" data-bind="click: function(){$parent.BackToMainView()} "></td>
    </tr>
</table>

