<table>
    <tr>
        <td>Friend's Name:</td>
        <td><input type="text" ></td>
    </tr>
    <tr>
        <td>Comments:</td>
        <td><textarea id="txtMessage"></textarea></td>
    </tr>
  
    <tr>
        <td><input type="button" value="Issue" id="btnIssue" ></td>
    </tr>
</table>