<table>
    <tr>
        <td>Friend's Name:</td>
        <td><input type="text" ></td>
    </tr>
    <tr>
        <td>Comments:</td>
        <td><textarea id="txtMessage"></textarea></td>
    </tr>
  
    <tr>
        <td><input type="button" value="Save" id="btnIssue"></td>
         <td><input type="button" value="Back" id="btnClose" ></td>
    </tr>

</table>