<table data-backdrop="with:$parent.bookIssueDetails()">
    <tr>
        <td>Friend's Name:</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Comments:</td>
        <td><textarea id="txtMessage" ></textarea></td>
    </tr>

</table>